
  .login-container {
    background-color: #fff;
    padding: 20px;
    
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-left: 525px;
    margin-top: 50px;
  }
  

  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }
  
 
  .input-field {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .submit-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100px; 
    background-color: #f9f9f9;
    color: #333;
    margin-right: 15px;
  }
  
  
  select:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }
  
  
  option {
    padding: 8px;
    background-color: #fff;
    color: #333;
  }
  
  
  option[selected] {
    background-color: #e6e6e6;
    font-weight: bold;
  }